<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Applying for college</title>
</head>
<body>
<div xmlns="http://www.w3.org/1999/html">
    <div>
        <img src="cid:logo" alt="logo" width="200px" height="200px" style="border-radius: 100%; overflow: hidden"/>
        <h4>A. Sebastatsi Medical College</h4>
    </div>
    <h3>Hi {{name}}!</h3>
    <p>You successfully applied to A Sebastatsi Medical College!!!</p>
</div>
</body>
</html>