<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Applying for college</title>
</head>
<body>
<div xmlns="http://www.w3.org/1999/html">
    <h3>Appeal</h3>
    <br />
    <h4>Applicant mail {{email}}</h4>
    <h4>Name {{name}}</h4>
    <h4>Phone {{phone}}</h4>
    <h4>Faculty {{faculty}}</h4>
    <p>Please check the applicant info.</p>
</div>
</body>
</html>