<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Applicant question</title>
</head>
<body>
<div xmlns="http://www.w3.org/1999/html">
    <h3>Question from {{email}}.</h3>
    <p>{{question}}</p>
</div>
</body>
</html>